{%- if talk.hide -%}
  {{ talk.name }}
  {% if talk.special_note %}
    <div class="text-muted" style="padding: 0.5em; background-color: white; border: 1px solid #c6c6c6; line-height: normal; border-radius: 5px;">{{ talk.special_note }}</div>
  {% endif %}
{%- else -%}
  <a class="text-reset" href="{{ talk.url | prepend: site.baseurl }}">{{ talk.name }}</a>
  {% if talk.special_note %}
      <div class="text-muted" style="padding: 0.5em; background-color: white; border: 1px solid #c6c6c6; line-height: normal; border-radius: 5px;">{{ talk.special_note }}</div>
  {% endif %}
{%- endif -%}
